.header {
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	        -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	z-index: 5;
	width: 1178px;
	padding: 40px 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	    justify-content: space-between;
	-webkit-box-align: center;
	        -ms-flex-align: center;
	    align-items: center;
}

.header__logo {
	width: 190px;
	height: 60px;
}

.header__logo img {
	display: block;
	width: 100%;

	margin: 0 auto;
}

.header__navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
}

.header__menu li:not(:last-child) {
	margin-right: 23px;
}

.header__menu li a {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-decoration: none;	
}

.header__menu li a:hover {
	color: #c7b299;
}

.header__search {
	margin-left: 50px;
}

.header__link {
	display: inline-block;
	width: 32px;
	height: 25px;
}

.header__link img {
	display: block;
}

.header__link:first-child {
	margin-right: 18px;
}

.header__link:hover > img {
	-webkit-filter: invert(0.5) sepia(0.5) saturate(2);
	        filter: invert(0.5) sepia(0.5) saturate(2);
}

.top {
	position: relative;
}

.top__slider {
	width: 100%;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.slider__element {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.slider__image {
	position: relative;
	overflow: hidden;
	height: 1024px;
}

.slider__image::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(17,17,17,0.7);
}

.slider__image img {
	display: block;
	width: 100%;
	height: 155%;
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	        -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
}

.slider__element:nth-child(2) .slider__image img {
	-webkit-filter: invert(1);
	        filter: invert(1);
}

.slider__element:nth-child(3) .slider__image img {
	-webkit-filter: blur(3px);
	        filter: blur(3px);
}

.slider__element:nth-child(4) .slider__image img {
	-webkit-filter: hue-rotate(90deg) saturate(20);
	        filter: hue-rotate(90deg) saturate(20);
}

.slider__element:nth-child(5) .slider__image img {
	-webkit-filter: hue-rotate(180deg) saturate(10);
	        filter: hue-rotate(180deg) saturate(10);
}

.slider__arrow {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	        -ms-transform: translate(0,-50%);
	    transform: translate(0,-50%);
	width: 40px;
	height: 73px;
	cursor: pointer;
	z-index: 10;
}

.slider__arrow img {
	display: block;
	width: 100%;
}

.slider__arrow--prev {
	left: 0;
	-webkit-transform: translateX(300%);
	        -ms-transform: translateX(300%);
	    transform: translateX(300%);
}

.slider__arrow--next {
	right: 0;
	-webkit-transform: translateX(-300%);
	        -ms-transform: translateX(-300%);
	    transform: translateX(-300%);
}

.slider__arrow--next > img {
	-webkit-transform: rotate(180deg);
	        -ms-transform: rotate(180deg);
	    transform: rotate(180deg);
}

.slider__arrow:hover > img {
	-webkit-filter: invert(0.3) sepia(0.4) saturate(3);
	        filter: invert(0.3) sepia(0.4) saturate(3);
}

.top__info {
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%,-150%);
	        -ms-transform: translate(-50%,-150%);
	    transform: translate(-50%,-150%);
	max-width: 600px;
	color: #fff;
	text-align: center;
}

.top__subtitle {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	margin-bottom: 12px;
}

.top__title {
	font-family: 'Raleway', sans-serif;
	font-size: 52px;
	font-weight: 800;
	line-height: 52px;
}

.top__text {
	margin: 15px 5px 45px;
}

.top__button {
	display: block;
	width: 170px;
	height: 53px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 800;
	line-height: 53px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: #998675;
	-webkit-box-shadow: inset 0 -3px 0 0 #736357;
	        box-shadow: inset 0 -3px 0 0 #736357;
	border-radius: 3px;
	-webkit-transition-duration: 0.3s;
	        -o-transition-duration: 0.3s;
	   transition-duration: 0.3s;
}

.top__button:hover {
	background-color: #736357;
	-webkit-box-shadow: inset 0 -3px 0 0 #998675;
	        box-shadow: inset 0 -3px 0 0 #998675;

}

.top__toggle {
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%,-32px);
	        -ms-transform: translate(-50%,-32px);
	    transform: translate(-50%,-32px);
}

.relay {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
	vertical-align: middle;
}

.relay:not(:last-child) {
	margin-right: 6px;
}

.relay--choosen {
	width: 11px;
	height: 11px;
	border: 2px solid #d3c1ad;
	background-color: transparent;
}

@media screen and (max-width: 1200px) {
	.header {
		width: 100%;
		padding: 40px 20px;
	}

	.header__menu li:not(:last-child) {
		margin-right: 15px;
	}

	.slider__image {
		height: 800px;
	}

	.slider__arrow--prev {
		-webkit-transform: translateX(200%);
		        -ms-transform: translateX(200%);
		    transform: translateX(200%);
	}

	.slider__arrow--next {
		-webkit-transform: translateX(-200%);
		        -ms-transform: translateX(-200%);
		    transform: translateX(-200%);
	}

	.top__info {
		-webkit-transform: translate(-50%,-90%);
		        -ms-transform: translate(-50%,-90%);
		    transform: translate(-50%,-90%);
		width: 700px;
	}
}

@media screen and (max-width: 980px) {
	.header {
		padding: 20px 10px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		        -ms-flex-pack: center;
		    justify-content: center;
	}

	.header__logo {
		margin-bottom: 15px;
	}

	.header__navigation {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}

	.header__menu {
		margin: 0 auto;
	}

	.slider__image {
		height: 600px;
	}

	.slider__arrow--prev {
		-webkit-transform: translateX(100%);
		        -ms-transform: translateX(100%);
		    transform: translateX(100%);
	}

	.slider__arrow--next {
		-webkit-transform: translateX(-100%);
		        -ms-transform: translateX(-100%);
		    transform: translateX(-100%);
	}

	.top__subtitle {
		font-size: 30px;
		line-height: 30px;
	}

	.top__title {
		font-size: 42px;
		line-height: 42px;
	}

	.top__info {
		-webkit-transform: translate(-50%,-50%);
		        -ms-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
	}
}

@media screen and (max-width: 767px) {
	.header__menu {
		-ms-flex-preferred-size: 70%;
		    flex-basis: 70%;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		        -ms-flex-pack: center;
		    justify-content: center;
	}

	.slider__image {
		height: 500px;
	}

	.slider__arrow {
		width: 30px;
		height: 54px;
	}

	.slider__arrow--prev {
		-webkit-transform: translateX(50%);
		        -ms-transform: translateX(50%);
		    transform: translateX(50%);
	}

	.slider__arrow--next {
		-webkit-transform: translateX(-50%);
		        -ms-transform: translateX(-50%);
		    transform: translateX(-50%);
	}

	.top__subtitle {
		font-size: 24px;
		line-height: 24px;
	}

	.top__title {
		font-size: 30px;
		line-height: 30px;
	}

	.top__text {
		margin-bottom: 20px;
	}

	.top__info {
		-webkit-transform: translate(-50%,-30%);
		        -ms-transform: translate(-50%,-30%);
		    transform: translate(-50%,-30%);
		width: 70%;
	}

	.top__toggle {
		-webkit-transform: translate(-50%,-10px);
		        -ms-transform: translate(-50%,-10px);
		    transform: translate(-50%,-10px);
	}
}

@media screen and (max-width: 480px) {
	.header {
		padding: 5px;
	}

	.header__logo {
		width: 95px;
		height: 30px;
		margin-bottom: 5px;
	}

	.header__navigation {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: end;
		        -ms-flex-pack: end;
		    justify-content: flex-end;
	}

	.header__menu {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}

	.header__menu li a {
		font-size: 12px;
		line-height: 12px;
	}

	.header__search {
		margin-left: 0;
	}

	.header__link {
		width: 17px;
		height: 18px;
	}

	.header__link img {
		width: 100%;
		height: 100%;
	}

	.header__link:first-child {
		margin-right: 5px;
	}

	.slider__image {
		height: 380px;
	}

	.slider__arrow {
		bottom: 0;
		width: 20px;
		height: 36px;
	}

	.slider__arrow--prev {
		-webkit-transform: translate(100%,400%);
		        -ms-transform: translate(100%,400%);
		    transform: translate(100%,400%);
	}

	.slider__arrow--next {
		-webkit-transform: translate(-100%,400%);
		        -ms-transform: translate(-100%,400%);
		    transform: translate(-100%,400%);
	}

	.top__subtitle {
		font-size: 20px;
		line-height: 20px;
	}

	.top__title {
		font-size: 24px;
		line-height: 24px;
	}

	.top__text {
		margin-bottom: 10px;
	}

	.top__info {
		-webkit-transform: translate(-50%,-20%);
		        -ms-transform: translate(-50%,-20%);
		    transform: translate(-50%,-20%);
		width: 95%;
	}

	.top__button {
		width: 130px;
		height: 30px;
		font-size: 12px;
		line-height: 30px;
	}

	.top__toggle {
		-webkit-transform: translate(-50%,0);
		        -ms-transform: translate(-50%,0);
		    transform: translate(-50%,0);
	}

	.relay {
		width: 6px;
		height: 6px;
	}

	.relay:not(:last-child) {
		margin-right: 4px;
	}

	.relay--choosen {
		width: 8px;
		height: 8px;
		border: 2px solid #d3c1ad;
	}
}