.ideas {
	background-color: #fbfaf8;
	padding-top: 80px;
}

.ideas > .wrap {
	text-align: center;
}

.ideas .section__text {
	margin: 16px 0 31px;
}

.ideas__block {
	width: 100%;
	height: 485px;
	position: relative;
}

.ideas__image {
	position: absolute;
	bottom: 0;
	width: 65.36%;
}

.ideas__image:first-child img {
	-webkit-filter: invert(1);
	        filter: invert(1);
}

.ideas__image:nth-child(2) img {
	-webkit-filter: blur(3px);
	        filter: blur(3px);
}

.ideas__image img {
	display: block;
	width: 100%;
	height: 100%;
}

.ideas__image--left {
	left: -26px;
	z-index: 1;
}

.ideas__image--right {
	right: -26px;
	z-index: 5;
}

.ideas__image--center {
	width: 80%;
	height: 100%;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	z-index: 10;
}

.ideas__description {
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	        -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	width: 80%;
	height: 100%;
	z-index: 15;
	background: -o-linear-gradient(left, rgba(33,27,25,0.7), rgba(78,52,39,0.7));
	background: -webkit-gradient(linear, left top, right top, from(rgba(33,27,25,0.7)), to(rgba(78,52,39,0.7)));
	background: linear-gradient(to right, rgba(33,27,25,0.7), rgba(78,52,39,0.7));
	opacity: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 100px;
	text-align: center;
	color: #fff;
	-webkit-transition-duration: 0.5s;
	        -o-transition-duration: 0.5s;
	   transition-duration: 0.5s;
}

.ideas__block:hover .ideas__description {
	opacity: 1;
}

.ideas__logo {
	width: 85px;
	margin: 0 auto 85px;
}

.ideas__logo img {
	display: block;
	width: 100%;
}

.ideas__text1 {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	margin-bottom: 5px;
}

.ideas__text2 {
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	font-weight: 800;
	line-height: 21px;
}

.ideas__text3 {
	font-size: 8px;
	line-height: 14px;
	width: 215px;
	margin: 6px auto 20px;
}

.ideas__button {
	display: block;
	width: 70px;
	height: 22px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-size: 6px;
	font-weight: 800;
	line-height: 22px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: #998675;
	-webkit-box-shadow: inset 0 -2px 0 0 #736357;
	        box-shadow: inset 0 -2px 0 0 #736357;
	border-radius: 3px;
	-webkit-transition-duration: 0.3s;
	        -o-transition-duration: 0.3s;
	   transition-duration: 0.3s;
}

.ideas__button:hover {
	background-color: #736357;
	-webkit-box-shadow: inset 0 -2px 0 0 #998675;
	        box-shadow: inset 0 -2px 0 0 #998675;
}

.ideas__arrow {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	width: 17px;
	height: 30px;
	cursor: pointer;
}

.ideas__arrow img {
	display: block;
	width: 100%;
}

.ideas__arrow--prev {
	left: 0;
	-webkit-transform: translateX(300%);
	        -ms-transform: translateX(300%);
	    transform: translateX(300%);
}

.ideas__arrow--next {
	right: 0;
	-webkit-transform: translateX(-300%);
	        -ms-transform: translateX(-300%);
	    transform: translateX(-300%);
}

.ideas__arrow--next > img {
	-webkit-transform: rotate(180deg);
	        -ms-transform: rotate(180deg);
	    transform: rotate(180deg);
}

.ideas__arrow:hover > img {
	-webkit-filter: invert(0.3) sepia(0.4) saturate(3);
	        filter: invert(0.3) sepia(0.4) saturate(3);
}

.ideas__toggle {
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translate(-50%,-17px);
	        -ms-transform: translate(-50%,-17px);
	    transform: translate(-50%,-17px);
}

.purchase {
	background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
	background: -o-linear-gradient(left, #211b19, #4e3427);
	background: linear-gradient(to right, #211b19, #4e3427);
}

.purchase__block {
	padding: 45px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.purchase__info {
	text-align: left;
}

.purchase__title {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 28px;
	color: #fff;
}

.purchase__title a {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 28px;
	color: #c7b299;
	text-decoration: none;
} 

.purchase__title a:hover {
	color: #c3781e;
}

.purchase__text {
	color: #615855;
	font-size: 18px;
	margin-top: 5px;
}

.purchase__button {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 800;
	line-height: 23px;
	color: #fff;
	padding: 14px 28px;
	background-color: #998675;
	border: 0px solid transparent;
	border-radius: 3px;
	text-transform: uppercase;
	-webkit-box-shadow: inset 0 -3px 0 0 #736357;
	        box-shadow: inset 0 -3px 0 0 #736357;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}

.purchase__button:hover,
.purchase__button:active,
.purchase__button:focus {
	background-color: #736357;
	-webkit-box-shadow: inset 0 -3px 0 0 #998675;
	        box-shadow: inset 0 -3px 0 0 #998675;
	outline: transparent;
}

@media screen and (max-width: 1300px) {
	.ideas__block {
		width: 93%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1100px) {
	.ideas__block {
		height: 430px;
	}
}

@media screen and (max-width: 980px) {
	.ideas {
		padding-top: 50px;
	}

	.ideas__block {
		height: 380px;
	}

	.ideas__description {
		padding-top: 50px;
	}

	.purchase__block {
		padding: 20px 0;
	}
}

@media screen and (max-width: 768px) {
	.ideas {
		padding-top: 20px;
	}

	.ideas__block {
		height: 300px;
	}

	.ideas__description {
		padding-top: 30px;
	}

	.ideas__logo {
		margin-bottom: 35px;
	}

	.purchase__title {
		font-size: 20px;
		line-height: 20px;
	}

	.purchase__title a {
		font-size: 20px;
		line-height: 20px;
	} 

	.purchase__text {
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	.ideas__block {
		height: 220px;
	}

	.ideas__description {
		padding-top: 10px;
	}

	.ideas__logo {
		margin-bottom: 20px;
	}

	.ideas__text3 {
		line-height: 10px;
		width: 250px;
		margin-bottom: 10px;
	}

	.ideas__arrow--prev {
		-webkit-transform: translateX(100%);
		        -ms-transform: translateX(100%);
		    transform: translateX(100%);
	}

	.ideas__arrow--next {
		-webkit-transform: translateX(-100%);
		        -ms-transform: translateX(-100%);
		    transform: translateX(-100%);
	}

	.ideas__toggle {
		-webkit-transform: translate(-50%,-5px);
		        -ms-transform: translate(-50%,-5px);
		    transform: translate(-50%,-5px);
	}

	.purchase__block {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.purchase__info {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.purchase__button {
		font-size: 12px;
		font-weight: 800;
		padding: 5px 10px;
		-webkit-box-shadow: inset 0 -2px 0 0 #736357;
		        box-shadow: inset 0 -2px 0 0 #736357;
	}
}

@media screen and (max-width: 480px) {
	.ideas__block {
		height: 180px;
	}

	.ideas__image--left {
		left: 0;
	}

	.ideas__image--right {
		right: 0;
	}

	.ideas__logo {
		margin-bottom: 15px;
		width: 70px;
	}

	.ideas__text1 {
		font-size: 12px;
		line-height: 12px;
	}

	.ideas__text2 {
		font-size: 16px;
		line-height: 16px;
	}

	.ideas__text3 {
		width: 90%;
	}

	.ideas__arrow {
		bottom: 0;
		width: 11px;
		height: 20px;
	}

	.ideas__arrow--prev {
		-webkit-transform: translate(50%,50px);
		        -ms-transform: translate(50%,50px);
		    transform: translate(50%,50px);
	}

	.ideas__arrow--next {
		-webkit-transform: translate(-50%,50px);
		        -ms-transform: translate(-50%,50px);
		    transform: translate(-50%,50px);
	}

	.purchase__block {
		padding: 10px 0;
		width: 90%;
	}

	.purchase__title {
		font-size: 16px;
		line-height: 16px;
	}

	.purchase__title a {
		font-size: 16px;
		line-height: 16px;
	} 

	.purchase__text {
		font-size: 12px;
		line-height: 12px;
		margin-top: 0;
	}
}