@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,800&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;*/

@import url("section-top_and_header.css");
@import url("section-services.css");
@import url("section-ideas.css");
@import url("section-works.css");

* {
	padding: 0;
	margin: 0;
}

img {
	border: none;
}

body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #8c8c8c;
}

.container {
	min-width: 320px;
	max-width: 100%;
}

.wrap {
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 11px;
	padding-right: 11px;
}

.section__title {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	color: #555;
}

.section__text {
	line-height: 28px;
	padding: 0 205px;
}

@media screen and (max-width: 980px) {
	.section__text {
		padding: 0 20px;
	}
}

@media screen and (max-width: 480px) {
	.section__title {
		font-size: 24px;
		line-height: 24px;
	}

	.section__text {
		font-size: 14px;
		line-height: 20px;
	}
}