@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,800&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;*/

@import url("section-top_and_header.css");

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #8c8c8c;
}

.container {
	min-width: 320px;
	max-width: 100%;
}

.wrap {
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}